.kotak1 {
    background-color: aqua;
    height: 100px;
    width: 300px;
}

.kotak1 p {
    background-color: blue;
}

.kotak2 {
    background-color: aquamarine;   
    height: 200px;
    width: 400px; 
}

.kotak2 h2 {
    background-color: rgb(14, 249, 170);
    width: 25%;
}

.kotak2 p {
    width: 50%;
    color: coral;
}