.kotak1 {
    background-color: aqua;
    height: 100px;
    width: 300px;
}

.kotak1 p {
    background-color: aquamarine;
}

.kotak2 {
    background-color: rgb(232, 76, 20);   
    height: 200px;
    width: 400px; 
}

.kotak2 h2 {
    background-color: orange;
    width: 25%;
}

.kotak2 p {
    width: 50%;
    color: white;
    background-color: salmon;
}

.kotak3 {
    background-color: yellowgreen;
    min-width: 450px;
    max-width: 800px;
}

.of1 h2 {
    color: aqua;
}

.of1 {
    height: 100px;
    width: 200px;
    overflow: hidden;
}

.of2 h2 {
    color: aqua;
}

.of2 {
    height: 100px;
    width: 200px;
    overflow: scroll;
}



/* Border Styles */
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}



/* Padding Styles */

.dekor {
    /* background-color: aquamarine; */
    /* text-align: center; */
    height: fit-content;
    width: fit-content;
    padding: 20px;
    border: 5px solid;
}

/* .padding {
    /* menentukan semua ukuran dari kanan, kiri, atas, bawah dengan ukuran yang sama *
    padding: 25px;
}

.padding1 {
    /* menentukan ukuran atas-bawah, kiri-kanan *
    padding: 25px 30px;
}

.padding2 {
    /* menentukan ukuran atas, kiri-kanan, bawah *
    padding: 25px 15px 30px;
}

.padding3 {
    /* menentukan ukuran atas, kanan, bawah, kiri *
    padding: 15px, 20px, 25px, 30px;
}

padding4 {
    padding-top: 10%;
    padding-right: 15%;
    padding-bottom: 20%;
    padding-left: 25%;
} */



/* Margin Styles */

.margin0 {
    /* menentukan semua ukuran dari kanan, kiri, atas, bawah dengan ukuran yang sama */
    margin: 5px;
}

.margin1 {
    /* menentukan ukuran atas-bawah, kiri-kanan */
    margin: 5px 15px;
}

.margin2 {
    /* menentukan ukuran atas, kiri-kanan, bawah */
    margin: 5px 30px 15px;
}

.margin3 {
    /* menentukan ukuran atas, kanan, bawah, kiri */
    margin: 5px 10px 15px 40px;
}

.margin4 {
    margin-top: 5%;
    margin-right: 15%;
    margin-bottom: 20%;
    margin-left: 25%;
}

/* inline */
span {
    background-color: rgba(200, 255, 0, 0.637);
    height: 100px;
    width: 100px;
    text-align: center;
    padding: 10px;
    border: 1px solid;
}

span.inline {
    display: inline;
}

span.block {
    display: block;
}

span.inline-block {
    display: inline-block;
}