.kotak1 {
    background-color: aqua;
    height: 100px;
    width: 300px;
}

.kotak1 p {
    background-color: blue;
}

.kotak2 {
    background-color: aquamarine;   
    height: 200px;
    width: 400px; 
}